*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/****************************** BODY **************************************/
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/****************************** HEADER **************************************/
header{
    min-height: 120px;
    width: 100%;
    padding: 0px 40px;
    background-color: rgb(255, 255, 255);   
    display: flex;
    justify-content: left;
    align-items: center;
}

header>img{
    width: 80px;
}

header>h1{
    margin: 20px;
}

/****************************** NAV **************************************/
nav{
    background-color: rgb(235, 212, 172);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a{
    text-decoration: none;
    color: #444;
    display: flex;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: lightgray;
    background-color: #6a3812;
}


/****************************** MAIN **************************************/
main{
    flex-grow: 1;
    display: flex;
    flex-grow: 1;
}


section header{
    justify-content: center;
}

section figure{
    display: flex;
    align-items: center;
    justify-content: center;
}
section figure img{
    border: black solid 2px;
    border-radius: 15px;
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

section article p{
    padding: 15px;
    text-align: center;
}

.qfamilia header{
    background-color: transparent;
}

section h2{
    text-align: center;
}

.qfamilia{
    background-color: lightgoldenrodyellow;
}

section a{
    display: flex;
    margin-top: 20px;
    margin-left: 43%;
}

.botao{
    display: flex;
    padding: 10px;
    width: 100px;
    color: white;
    background-color: green;
    border: #444 solid 2px;
    border-radius: 5px;
    cursor: pointer;
}
.botao:hover{
    background-color: rgb(3, 175, 3);
}


/****************************** FOOTER **************************************/
footer{
    background-color: rgb(10, 9, 22);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}